.card {
  display: flex;
  width: 100%;
  min-width: 0;
  flex-direction: column;
  padding: 16px;
  background-color: var(--color-white);
  border-radius: var(--radius-xl);
}

.header {
  display: flex;
  align-items: baseline;
  margin: 16px 0 8px;
  justify-content: space-between;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.model {
  color: var(--color-brand);
}

.price {
  flex-shrink: 0;
}

.action {
  margin-top: 24px;
}
